.login {
  &_button {
    width: 100%;
    cursor: pointer;
  }

  &_devider {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &_other {
    width: 100%;
    &_button {
      width: 100%;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    i {
      font-size: 15px;
    }
  }
}
