.button {
  display: flex;
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.primary {
  background-color: black;
  color: #fff;
}

.secondary {
  background-color: white;
  color: black;
}
